.welcome-background {
    height: 100vh;
    top: 40vh;
    /* Add your background styles here */
}

.text-msg {
    top: 40vh;
    position: relative;
    left: 10vw;
    text-align: center;
}

.heading {
    text-align: left;
    position: relative;
    font-size: 46px;
    font-family: monospace;
    font-weight: 100;
    margin-bottom: 8px; /* Adjust as needed */
}

.heading2 {
    position: absolute;
    left: 0;
    font-size: 32px;
    font-family: monospace;
    font-weight: 100;
    width: max-content;
    animation: colorchange 5s infinite ease-in-out;
}

.headingSpan {
    font-size: 32px;
    font-family: monospace;
    font-weight: 100;
}
